@import '../../../assets/variables';
@import '../../../assets/mixins';

.intro-item {
    position: relative;
    padding: 0 10px 0 50px;
    font-family: $lato;

    &:before {
        position: absolute;
        width: 24px; height: 24px;
        line-height: 24px;
        top: 50%; left: 10px;
        transform: translateY(-50%);
        padding-left: 1px;
        font-family: 'Material Icons';
        font-size: rem(16px);
        color: #fff;
        text-align: center;
        background-color: $red;
        border-radius: 50%;
    }
    &.main:before { content: 'lightbulb_outline'; }
    &.create:before { content: 'add'; }
    &.toggle:before { content: 'layers'; }
    &.flip:before { content: 'rotate_90_degrees_ccw'; }
    &.edit:before { content: 'edit'; }
    &.study:before { content: 'school'; }
}

.highlight {
    color: $red;
    font-family: $lato-heavy;
}

mark {
    background-color: transparent;
    font-family: $lato-bold;
}