@import '../../../../assets/variables';

.decks-list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.decks-item {
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
    overflow: hidden;
    &.active:hover {
        .item-edit-trigger {
            transform: translate(0, -50%);
            visibility: visible;
            opacity: 1;
        }
    }
}

.decks-item-link {
    display: block;
    position: relative;
    padding: 4px 24px 4px 10px;
    z-index: 1;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: .2s;
    &:hover {
        color: $red;
    }
    &:before {
        position: absolute;
        left: 0; top: 50%;
        width: 4px; height: 4px;
        margin-top: -2px;
        border-radius: 5px;
        background-color: $red;
        content: '';
        z-index: -1;
        transition: .2s;
    }
    &.active {
        color: #fff;
        &:before { width: 100%; height: 100%; top: 0; margin-top: 0; }
    }
}

/* ---------------------- ITEM EDITING -------------------- */
/* --------------------------------------------------------- */

.item-edit-trigger {
    position: absolute;
    top: 50%; right: 2px;
    width: 20px; height: 20px;
    transform: translate(100%, -50%);
    visibility: hidden;
    opacity: 0;
    font-family: 'Material Icons';
    font-size: 16px;
    color: #fff;
    z-index: 2;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: .2s ease;
    &:before {
        position: absolute;
        left: 0; top: 2px;
        width: 100%; height: 100%;
        // left: 50%; top: 50%;
        // transform: translate(-50%, -50%);
        transition: transform .2s ease;
        content: 'edit';
    }
    &:after {
        position: absolute;
        width: 100%; height: 100%;
        transform: scale(0);
        opacity: 0;
        top: -2px; left: -2px;
        padding: 2px;
        z-index: -1;
        border-radius: 50%;
        pointer-events: none;
        content: '';
        transition: transform 0.1s, opacity 0.2s, background-color .1s;
    }
    &:active {
        color: $red;
        &:after {
            background-color: #fff;
            transform: scale(1);
            opacity: 1;
        }
    }
    &:hover {
        // font-size: 20px;
        &:before {
            transform: scale(1.3);
        }
    }
}

.edit-form {
    position: absolute;
    top: 0; left: 0;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: transform .2s ease;
    &.active {
        transform: translateX(0);
    }
}

.edit-text {
    width: 100%;
    height: 100%;
    padding: 4px 44px 4px 10px;
    font-size: 14px;
    // font-weight: bold;
    color: #fff;
    background-color: $red;
    border: none;
    outline: none;
}

.edit-submit {
    position: absolute;
    top: 50%; right: 20px;
    width: 20px; height: 20px;
    transform: translateY(-50%);
    font-family: 'Material Icons';
    font-size: 16px;
    color: #fff;
    z-index: 2;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:before {
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 2px;
        // transform: translate(-50%, -50%);
        transition: transform .1s ease;
        content: 'done';
    }
    &:hover {
        font-weight: bold;
        &:before {
            transform: scale(1.1);
        }
    }
    &:active:before {
        transform: scale(1.4);
        // font-size: 22px;
    }
}

.edit-remove {
    position: absolute;
    top: 50%; right: 2px;
    width: 20px; height: 20px;
    transform: translateY(-50%);
    font-family: 'Material Icons';
    font-size: 16px;
    color: #fff;
    z-index: 2;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    &:before {
        position: absolute;
        width: 100%; height: 100%;
        left: 0; top: 2px;
        // transform: translate(-50%, -50%);
        transition: transform .1s ease;
        content: 'delete';
    }
    &:hover {
        font-weight: bold;
        &:before {
            content: 'delete_forever';
            transform: scale(1.1);
        }
    }
    &:active:before {
        transform: scale(1.4);
        // font-size: 22px;
    }
}