@import '../../../assets/variables';
@import '../../../assets/mixins';

.decks {
    width: 30%;
    float: left;
    padding: 10px;
    
    height: 100%;
    // border-right: 1px solid #ccc;
    background-color: $black;
}