// Fonts
$lato-thin: 'latothin', sans-serif;
$lato-light: 'latolight', sans-serif;
$lato: 'latoregular', sans-serif;
$lato-medium: 'latomedium', sans-serif;
$lato-semibold: 'latosemibold', sans-serif;
$lato-bold: 'latobold', sans-serif;
$lato-heavy: 'latoheavy', sans-serif;
$lato-black: 'latoblack', sans-serif;

$baseFontSize: 14px;

// Colors
$red: darken(#d94f5c, 3%);
$black: #2a282b;