@import 'assets/mixins';
@import 'assets/variables';
@import 'assets/animations';
@import 'assets/fonts';

/* ----------- Base ----------- */

html, body {
    // height: 100%;
    margin: 0;
    font-family: sans-serif;
}

html { font-size: $baseFontSize; }

body {
    background: linear-gradient(to right, #ce4f41, #582323);
}

* { box-sizing: border-box; }

/* ----------- Preloader ----------- */

.preloader {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 30%; left: 50%;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #fff #fff #fff transparent;
    animation: spin 1.4s infinite linear;
}