@import 'assets/mixins';
@import 'assets/variables';
@import 'assets/fonts';

/* ----------- Main ----------- */

html, body {
    // height: 100%;
    margin: 0;
    font-family: sans-serif;
}

html { font-size: $baseFontSize; }

body {
    background: linear-gradient(to right, #ce4f41, #582323);
}

* { box-sizing: border-box; }

/* preload text */
.preload {
    display: inline-block;
    padding: 10px 10px;
    font-size: 1.4rem;
    color: #fff;
}