@import '../../../assets/variables';
@import '../../../assets/mixins';
@import '../../../assets/animations';

:host {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

/* ------------------------- CONTROLS ----------------------- */
/* ---------------------------------------------------------- */

.controls {
    position: relative;
    padding: 2px 3% 6px;
    background-color: $red;
    animation: slideDown .3s;
}

.deck-name {
    float: right;
    max-width: 120px;
    margin-right: 40px;
    padding-top: 7px;
    font-family: $lato;
    font-size: 14px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cards-count {
    float: right;
    padding-top: 7px;
    font-family: $lato;
    font-size: 14px;
    color: #fff;
}

.add-card-btn {
    display: inline-block;
    position: relative;
    float: left;
    width: 26px; height: 26px;
    margin-top: 3px;
    font-family: 'Material Icons';
    // color: $red;
    background-color: transparent;
    // border: 2px solid $red;
    border-radius: 50%;
    z-index: 1;
    transition: all 0.2s;

    color: #fff;
    border: 2px solid #fff;

    &:before {
        content: 'add';
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        font-size: 18px;
    }

    &:after {
        position: absolute;
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        transition: transform 0.2s, opacity 0.3s, background-color .2s;
    }

    &:active {
        color: $red;
        &:after {
            // background-color: $red;
            background-color: #fff;
            transform: scale(1.8);
            opacity: 0;
        }
    }

    &:hover {
        // color: #fff;
        color: $red;
        // background-color: $red;
        background-color: #fff;
    }
}

.study-deck-btn {
    // float: left;
    position: relative;
    display: inline-block;
    margin-left: 14px;
    padding: 6px 20px 6px 34px;
    font-family: $lato-heavy;
    font-size: 12px;
    // font-weight: bold;
    // color: $red;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    transition: all .2s ease;

    // border: 1px solid $red;
    border: 2px solid #fff;
    border-radius: 20px;

    &:before, &:after {
        font-family: 'Material Icons';
        position: absolute;
        font-size: 22px;
        left: 0; top: 50%;
        transform: translateY(-50%);
        padding: 6px;
        // color: $red;
        color: #fff;
        transition: all .2s ease;
    }

    &:before {            
        content: 'lightbulb_outline';
    }
    &:after {
        content: 'school';
        transform: translateY(120%);
    }

    &:hover {
        // background-color: $red;
        background-color: #fff;
        // color: #fff;
        color: $red;
        &:before, &:after { /* color: #fff; */ color: $red; }
        &:before { transform: translateY(-150%); }
        &:after { transform: translateY(-50%); }
    }

    &:active { box-shadow: 0 0 6px 2px #fff; }
}

/* ------------------------- INTRO ----------------------- */
/* ------------------------------------------------------- */

.no-cards {
    padding-top: 20px;
    overflow: hidden;
}

.no-cards-message {
    font-family: $lato-medium;
    text-align: center;
    &:nth-child(1) { color: $red; font-family: $lato-heavy; animation: slideIn .4s }
    &:nth-child(2) { animation: slideIn .6s }
    & .add-icon {
        display: inline-block;
        position: relative;
        width: 20px; height: 20px;
        margin: 0 5px;
        background-color: $red;
        border-radius: 50%;
        vertical-align: bottom;
        &:before {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Material Icons';
            font-size: rem(16px);
            color: #fff;
            content: 'add';
        }
    }
}


/* ------------------------- LIST ----------------------- */
/* ------------------------------------------------------ */

.cards-list {
    // height: calc(100% - 60px);
    margin: 0;
    padding: 20px 0 10px;
    list-style: none;
    overflow-y: auto;
}

.cards-item {
    display: inline-block;
    position: relative;
    width: 44%;
    margin: 0 3% 20px;
    padding: 24px 0;
    border-radius: 5px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    vertical-align: middle;
    text-align: center;
    transition: transform .3s;
    &:nth-child(1) { animation: scaleUp .1s ease; }
    &:nth-child(2) { animation: scaleUp .2s ease; }
    &:nth-child(3) { animation: scaleUp .3s ease; }
    &:nth-child(4) { animation: scaleUp .4s ease; }
    &:nth-child(5) { animation: scaleUp .5s ease; }
    &:nth-child(6) { animation: scaleUp .6s ease; }
    &:nth-child(7) { animation: scaleUp .7s ease; }
    &:nth-child(8) { animation: scaleUp .8s ease; }
    &:nth-child(9) { animation: scaleUp .9s ease; }
    &:nth-child(10) { animation: scaleUp 1s ease; }

    &:after {
        position: absolute;
        bottom: 0; left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, transparent 80%);
        z-index: -1;
        content: '';
        transition: transform .2s, opacity .2s;
        pointer-events: none;
    }

    &:hover {
        transform: translateY(-5px);
        border-color: $red;
        &:after {
            opacity: 1;
            transform: translateY(20px);
        }
        .cards-item-edit, .cards-item-study { opacity: 1; }
    }
}

.cards-item-desc {
    margin-bottom: 20px;
    padding: 0 6px;
    font-family: $lato;
    // font-weight: bold;
    font-size: 14px;
    color: #4c4c4c;
    white-space: pre-wrap;
}

.cards-item-edit, .cards-item-study {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 4px;
    padding: 6px 16px 6px 24px;
    font-family: $lato-bold;
    font-size: 12px;
    color: #4c4c4c;
    border: 1px solid #a2a2a2;
    border-radius: 20px;
    text-decoration: none;
    opacity: 0;
    transition: all .2s, opacity .3s, color .1s;
    &:hover {
        border-color: $red;
        color: #fff;
        background-color: $red;
    }

    &:before {
        position: absolute;
        left: 6px; top: 50%;
        transform: translateY(-50%);
        font-family: 'Material Icons';
        font-size: 14px;
    }

    &:after {
        position: absolute;
        top: -25%;
        left: -2px;
        padding: 2px;
        z-index: -1;
        pointer-events: none;
        width: 100%;
        height: 150%;
        border-radius: 50%;
        content: '';
        transition: transform 0.2s, opacity 0.2s, background-color .1s;
    }

    &:active {
        border-color: lighten($red, 10%);
        background-color: lighten($red, 10%);
        &:after {
            background-color: $red;
            transform: scale(1.8);
            opacity: 0;
        }
    }
}

.cards-item-edit:before { content: 'edit'; }
.cards-item-study:before { content: 'school'; }