@import '../../../../assets/variables';
@import '../../../../assets/mixins';
@import '../../../../assets/animations';

.card {
    position: relative;
    width: 80%;
    margin: 40px auto 0;
    perspective: 1000px;
}

.study-desc {
    font-family: $lato-medium;
    color: #4c4c4c;
    text-align: center;
    animation: slideIn .4s ease;
}

.cards-count { color: $red; }

.flip-container {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s .1s;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    text-align: center;
    animation: slideIn .6s ease;

    -ms-transform-style: none;
    -ms-transform: none;
    
    &.flipped {
        transform: rotateY( 180deg );
        -ms-transform: rotateX(180deg);
        .card-front { opacity: 0; }
        .card-back { opacity: 1; }
    }
}

.card-back, .card-front {
    padding-top: 20px;
    font-family: $lato-medium;
    color: #4c4c4c;
}

.card-back {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotateY( 180deg );
    -ms-transform: rotateX(180deg);
    backface-visibility: hidden;
    background-color: #fff;
    transition: opacity .4s .5s;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: #fff;
    transition: opacity .5s;
}

.card-text {
    margin: 14px 0 30px;
    padding: 0 6px;
    white-space: pre-wrap;
}

.card-flip-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 6px 16px 6px 28px;
    font-family: $lato-bold;
    font-size: rem(12px);
    color: #4c4c4c;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #a2a2a2;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: all .2s, opacity .3s, color .1s;
    &:hover {
        color: #fff;
        border-color: $red;
        background-color: $red;
    }
    &:before {
        position: absolute;
        left: 6px; top: 50%;
        transform: translateY(-50%);
        font-family: 'Material Icons';
        font-size: rem(16px);
        content: 'rotate_90_degrees_ccw'
    }
    &:after {
        position: absolute;
        top: -25%; left: -2px;
        width: 100%; height: 150%;
        padding: 2px;
        z-index: -1;
        border-radius: 50%;
        content: '';
        pointer-events: none;
        transition: transform 0.2s, opacity 0.2s, background-color .1s;
    }

    &:active {
        background-color: lighten($red, 10%);
        border-color: lighten($red, 10%);
        &:after {
            transform: scale(1.8);
            opacity: 0;
            background-color: $red;
        }
    }
}

/* -------------------------- CARD RATES ------------------------ */
/* -------------------------------------------------------------- */

.rate {
    text-align: center;
}

.rate-desc {
    display: inline-block;
    position: relative;
    margin: 0 0 10px;
    padding-right: 20px;
    font-size: rem(12px);
    &:after {
        position: absolute;
        right: 0; top: 50%;
        transform: translateY(-50%);
        font-family: 'Material Icons';
        font-size: rem(16px);
        color: $red;
        content: 'arrow_downward';
    }
}

.rate-btns {
    font-size: 0; // remove empty space for inline-blocks
    margin-bottom: 20px;
}

.rate-btn {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 2px;
    font-family: 'Material Icons';
    font-size: rem(24px);
    color: $black;
    text-decoration: none;
    background-color: transparent;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .1s;
    &:after {
        position: absolute;
        width: 100%; height: 150%;
        top: -25%; left: 0;
        z-index: -1;
        border-radius: 50%;
        content: '';
        pointer-events: none;
        transition: transform 0.2s, opacity 0.2s, background-color .1s;
    }
    &:hover { transform: scale(1.2); }
    &:active:after {
        transform: scale(1.4);
        opacity: 0;
    }
    &.bad {
        &:active:after { background-color: $red; }
        &:hover { color: $red; }
    }
    &.poor {
        &:active:after { background-color: #2196f3; }
        &:hover { color: #2196f3; }
    }
    &.ok {
        &:active:after { background-color: #ffc107; }
        &:hover { color: #ffc107; }
    }
    &.good {
        &:active:after { background-color: #8bc34a; }
        &:hover { color: #8bc34a; }
    }
    &.great {
        &:active:after { background-color: #4caf50;}
        &:hover { color: #4caf50; }
    }
}

/* ------------------------- CLOSE BUTTON ----------------------- */
/* -------------------------------------------------------------- */

.close-btn {
    display: inline-block;
    position: absolute;
    top: 6px; right: 6px;
    width: 22px; height: 22px;
    font-family: 'Material Icons';
    color: $red;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    z-index: 1;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;

    &:before {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(18px);
        content: 'clear';
    }

    &:after {
        position: absolute;
        width: 100%; height: 100%;
        top: -2px; left: -2px;
        padding: 2px;
        z-index: -1;
        border-radius: 50%;
        content: '';
        pointer-events: none;
        transition: transform 0.1s, opacity 0.3s, background-color .1s;
    }

    &:active {
        color: $red;
        &:after {
            background-color: $red;
            transform: scale(1.8);
            opacity: 0;
        }
    }

    &:hover {
        color: #fff;
        border-color: $red;
        background-color: $red;
    }
}

/* ------------------------- STUDY DONE BLOCK ----------------------- */
/* ------------------------------------------------------------------ */

.study-done {
    position: relative;
    padding-top: 70px;
    text-align: center;

    & > .study-done-message { animation: slideIn .4s ease; }
    & > .study-done-link { animation: slideIn .6s ease; }
}

.study-done-message {
    margin-bottom: 30px;
    padding: 0 20px;
    font-family: $lato-medium;
    font-size: rem(14px);

    & strong {
        display: block;
        padding-top: 10px;
        font-weight: normal;
        color: $red;
    }
}

.study-done-link {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 0 4px;
    padding: 4px 24px 4px 28px;
    font-family: $lato-medium;
    font-size: rem(14px);    
    border: 1px solid #8bc34a;
    color: #8bc34a;
    border-radius: 20px;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;
    &:before {
        position: absolute;
        left: 6px; top: 50%;
        transform: translateY(-50%);
        font-family: 'Material Icons';
        font-weight: bold;
        content: 'check';
    }
    &:after {
        position: absolute;
        top: -25%; left: 0;
        z-index: -1;
        width: 100%; height: 150%;
        border-radius: 50%;
        content: '';
        pointer-events: none;
        transition: transform 0.2s, opacity 0.2s, background-color .1s;
    }
    &:hover {
        background-color: #4caf50;
        color: #fff;
    }
    &:active {
        background-color: lighten(#4caf50, 15%);
        border-color: lighten(#4caf50, 15%);
        &:after {
            background-color: #4caf50;
            transform: scale(1.8);
            opacity: 0;
        }
    }
}